* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header, nav, footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

header {
    background-color: #e7f1ff;
}

nav {
    background-color: #d9e7f1;
}

footer {
    background-color: #d9e7f1;
}

section {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    width: 9;
    margin: 0 auto;
}
.section2 {
    margin: 45px auto;
}

article {
    width: 695px;
    height: 120px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #e0e0e0;
    text-align:center;
    border: 1px solid #ccc;
}

aside {
    width: 35%;
    padding: 20px;
    margin: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
}

.grid-item {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
