body {
    background-color: aliceblue;
}

.container {

    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.grid-item {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
}



.square, .rectangle, .triangle, .circle {
    display: inline-block;
    margin: 10px;
}

/* Cuadrado */
.square {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
}

/* Rectángulo */
.rectangle {
    width: 150px;
    height: 100px;
    background-color: #2196F3;
}



/* Círculo */
.circle {
    width: 100px;
    height: 100px;
    background-color: #ffeb3b;
    border-radius: 50%;
}