footer {
    background-color:  #000000;
    color: rgb(255, 255, 255); 
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgb(0, 0, 0);
}

.footer-column {
    flex: 1;
    margin: 0 10px;
    min-width: 340px;
}

.footer-column h2 {
    margin-bottom: 20px;
}

.footer-column p,
.footer-column a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    vertical-align: middle;
    margin-right: 10px;
}
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.contact-icons{
    width: 50px;
    height: 50px;
    transition: transform 0.3s, filter 0.3s;
}
.contact-icons img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}


.redes_icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.redes_icons insta {
    border-radius: 180px; 
    overflow: hidden; 
    width: 85px;
    height: 85px; 
}

.redes_icons insta img {
    width: 100%; 
    height: auto; 
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid #808080;
    padding-top: 10px 20px;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
}

.footer-column iframe{
    text-align: right;
    width: 150px;
    height: 160px;
    display: block;
    margin: 0 auto;
}
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
    color: #aaa;
}

.complaint-button {
    background-color: #421411;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, filter 0.3s;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.complaint-button:hover {
    background-color: #410f0f;
    transform: scale(1.05);
}