.body2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px; 
}

.logo {
    display: flex;
    width: 80px;
    border-radius: 180px;
    margin: 5px; 
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: rgb(49, 46, 46);
    font-family: "Impact", sans-serif; 
    margin-top: 10px; 
    margin-bottom: 15px; 
}

.banner {
    background-color: black;
    text-align: center;
    color: white;
}
.menuhorizontal {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.menuhorizontal li {
    margin: 0;
    padding: 0;
    flex: 1;
}
.menuhorizontal li a, .menuhorizontal li{
    display: block; 
    color: rgb(255, 255, 255); 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none;
    border-radius: 25px; 
    transition: background-color 0.3s, transform 0.3s;; 
}
.menuhorizontal li a:hover {
    background-color: #282b2ef9;
    transform: scale(1.05);
    border-radius: 25px; 
}
.search-container {
    margin-left: auto; 
}

.search-form {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    margin-right: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.search-form input[type="text"]:focus {
    border-color: #346cb4;
}

.search-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #45a049;
}

.slider-frame {
	width: 1080px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
    height: 580PX;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.social-media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0; 
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 20px; 
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}
