h1{text-align: center;color: rgb(49, 46, 46);}
.menuhorizontal {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: black;
}
.menuhorizontal li {
    margin: 0;
    padding: 0;
}
.menuhorizontal li a {
    display: block; 
    color: rgb(255, 255, 255); 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
}
.menuhorizontal li a:hover {
    background-color: #346cb4; 
}

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}